<app-navigation>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Frekuensi Rencana Perjalanan
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>tour</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <canvas
      baseChart
      [datasets]="rencanaChartData"
      [labels]="rencanaChartLabels"
      [options]="rencanaChartOptions"
      [legend]="rencanaChartLegend"
      [chartType]="rencanaChartType"></canvas>

      <p>Grafik Perkembangan Jumlah Pengguna dan Total Rencana Perjalanan</p>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Sebaran dan Detail Obyek Wisata
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>explore</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <div class="laporan-wisata">
        <div style="width:50%">
          <canvas
          class="wisata"
          baseChart
          [datasets]="wisataChartData"
          [labels]="wisataChartLabels"
          [options]="wisataChartOptions"
          [legend]="wisataChartLegend"
          [chartType]="wisataChartType"></canvas>
          <p>Grafik Perkembangan Jumlah Obyek Wisata </p>
        </div>

        <div style="width: 50%;">
          <canvas
          class="kabupaten"
          baseChart
          [data]="kabupatenChartData"
          [labels]="kabupatenChartLabels"
          [chartType]="kabupatenChartType"></canvas>
          <p>Grafik Jumlah Wisata Per Kabupaten</p>
        </div>

      </div>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Berita dan Kegiatan
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>article</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <canvas
      baseChart
      [datasets]="beritaChartData"
      [labels]="beritaChartLabels"
      [options]="beritaChartOptions"
      [legend]="beritaChartLegend"
      [chartType]="beritaChartType"></canvas>

      <p>Grafik Perkembangan Jumlah Berita dan Kegiatan</p>
    </mat-expansion-panel>
  </mat-accordion>
</app-navigation>
