<app-navigation>
  <div class="d-flex justify-content-center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="numbers mb-4" *ngIf="!loading">
    <mat-card>
      <span class="mb-3"><b>Jumlah Pengguna</b> </span>
      <span>{{laporanJumlah.jumlah_anggota}}</span>
    </mat-card>
    <mat-card>
      <span class="mb-3"><b>Jumlah Rencana Dibuat</b> </span>
      <span>{{laporanJumlah.jumlah_rencana}}</span>
    </mat-card>
    <mat-card>
      <span class="mb-3"><b>Jumlah Obyek Wisata</b> </span>
      <span>{{laporanJumlah.jumlah_wisata}}</span>
    </mat-card>
    <mat-card>
      <span class="mb-3"><b>Jumlah Berita</b> </span>
      <span>{{laporanJumlah.jumlah_berita}}</span>
    </mat-card>
    <mat-card>
      <span class="mb-3"><b>Jumlah Kegiatan</b> </span>
      <span>{{laporanJumlah.jumlah_kegiatan}}</span>
    </mat-card>
  </div>
  <mat-accordion class="example-headers-align" multi *ngIf="!loading">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Jumlah Pengguna Baru dan Perjalanan Dibuat
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>tour</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <canvas
      baseChart
      [datasets]="rencanaChartData"
      [labels]="rencanaChartLabels"
      [options]="rencanaChartOptions"
      [legend]="rencanaChartLegend"
      [chartType]="rencanaChartType"></canvas>

      <p>Grafik Perkembangan Jumlah Pengguna dan Total Rencana Perjalanan</p>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Sebaran dan Jumlah Obyek Wisata
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>explore</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <div class="laporan-wisata">
        <div style="width:50%">
          <canvas
          class="wisata"
          baseChart
          [datasets]="wisataChartData"
          [labels]="wisataChartLabels"
          [options]="wisataChartOptions"
          [legend]="wisataChartLegend"
          [chartType]="wisataChartType"></canvas>
          <p>Grafik Perkembangan Jumlah Obyek Wisata </p>
        </div>

        <div style="width: 50%;">
          <canvas
          class="kabupaten"
          baseChart
          [data]="kabupatenChartData"
          [labels]="kabupatenChartLabels"
          [chartType]="kabupatenChartType"></canvas>
          <p>Grafik Jumlah Wisata Per Kabupaten</p>
        </div>

      </div>

    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Laporan Berita dan Kegiatan
        </mat-panel-title>
        <mat-panel-description>
          <div></div>
          <mat-icon>article</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- ISI PANEL  -->
      <canvas
      baseChart
      [datasets]="beritaChartData"
      [labels]="beritaChartLabels"
      [options]="beritaChartOptions"
      [legend]="beritaChartLegend"
      [chartType]="beritaChartType"></canvas>

      <p>Grafik Perkembangan Jumlah Berita dan Kegiatan</p>
    </mat-expansion-panel>
  </mat-accordion>
</app-navigation>
