<div class="form-group">
  <input
  [ngStyle]="{borderBottom:getValidatorBorderColor()}"
  type={{type}}
  class="form-input"
  placeholder={{placeholder}}
  id={{placeholder}}
  [formControl]="inputControl"
  autocomplete="off"
  required>
  <button
  mat-icon-button
  class="form-input--visibility"
  (click)="onChangeVisibility()"
  *ngIf="placeholder=='Password'"
  type="button">
    <mat-icon>{{visibility}}</mat-icon>
  </button>
  <label for="username" class="form-label">{{placeholder}}</label>
</div>
