<form class="form-modal" [formGroup]="fotoWisataForm" (ngSubmit)="onSubmit()">
  <mat-card-title class="mb-4">{{data.mode==='edit'?'Update':'Tambah'}} Foto Wisata</mat-card-title>

  <mat-dialog-content>
    <div class="row mb-3">
      <div class="col-md-12">
        <mat-form-field class="full-width" >
          <mat-label>Kode foto</mat-label>
          <input matInput type="text" required formControlName="fotoobyekKODE">
          <mat-hint>Input kode foto</mat-hint>
          <mat-error>kode foto is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <mat-form-field class="full-width" >
          <mat-label>Nama foto</mat-label>
          <input matInput type="text" required formControlName="fotoobyekNAMA">
          <mat-hint>Input nama foto</mat-hint>
          <mat-error>nama foto is required</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <div class="file">
          <input type="file" id="file" class="file__input" (change)="onReadFile($event)" accept=".png,.jpeg,.jpg"
          />
          <label for="file" class="file__label">{{!fotoWisataForm.value.fotoobyekGAMBAR? 'Pilih Foto Wisata':fotoWisataForm.value.fotoobyekGAMBAR}}
            <mat-icon class="file__icon">cloud_upload</mat-icon>
          </label>
          <label class="file__hint">Pilih Gambar dari Local Storage</label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Tanggal Ambil Foto</mat-label>
          <input matInput [matDatepicker]="mdate" required formControlName="fotoobyekTGLAMBIL" />
          <mat-datepicker-toggle [for]="mdate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #mdate startView="year"></mat-datepicker>
          <mat-hint>Input tanggal ambil foto</mat-hint>
          <mat-error>Tanggal ambil foto is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Obyek Wisata</mat-label>
          <mat-select required formControlName="obyekKODE">
            <mat-option *ngFor="let obyek of obyeks" [value]="obyek.obyekKODE">{{obyek.obyekNAMA}}</mat-option>
          </mat-select>
          <mat-hint>Pilih obyek wisata</mat-hint>
          <mat-error>obyek wisata is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <mat-label>Keterangan Foto</mat-label>
          <input matInput formControlName="fotoobyekKET" />
          <mat-hint>Input keterangan foto</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <div class="row">
    <div class="buttons full-width">
      <button mat-button mat-raised-button mat-dialog-close>Close</button>
      <button mat-button mat-raised-button type="reset" >Reset</button>
      <button mat-button mat-raised-button>Submit</button>
      <mat-spinner [diameter]="20" *ngIf="loading" ></mat-spinner>
    </div>
  </div>
</form>
