/* BACKGROUND */
.auth-background{
  background-image: linear-gradient(to left bottom, var(--color-primary-light), var(--color-primary-dark));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-card{
    width: 50vw;
    padding: 3rem;
    button{
      background-color: var(--color-primary-dark);
      color: white;
    }
  }
}

.login{
  color: var(--color-primary);
  cursor: pointer;
  margin-top: 1rem;
}

.err{
  color: var(--color-red);
}
