<div class="auth-background">
  <mat-card>
    <mat-card-title>Registrasi Pengelola</mat-card-title>
    <hr>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Nama Depan</mat-label>
        <input matInput placeholder="Ex. John"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Nama Belakang</mat-label>
        <input matInput placeholder="Ex. Doe"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. John@gmail.com"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Ex. ******"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password Confirmation</mat-label>
        <input type="password"matInput  placeholder="Ex. ******"/>
      </mat-form-field>
      <button mat-raised-button style="float: right;">Register</button>
    </mat-card-content>
  </mat-card>
</div>
