<form class="form-modal" [formGroup]="kategoriWisataForm" (ngSubmit)="onSubmit()">

  <mat-spinner [diameter]="20" class="top-spinner" *ngIf="loadData"></mat-spinner>
  <mat-card-title class="mb-4">{{data.mode==='edit'?'Update':'Tambah'}} Kategori Wisata</mat-card-title>
  <div class="row mb-3">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <mat-label>Kode Kategori Wisata</mat-label>
        <input matInput type="text" required
        formControlName="kategoriKODE"/>
        <mat-hint>Input Kode kategori wisata</mat-hint>
        <mat-error>Kode kategori wisata is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <mat-label>Nama Kategori Wisata</mat-label>
        <input matInput type="text" required
        formControlName="kategoriNAMA" />
        <mat-hint>Input nama kategori wisata</mat-hint>
        <mat-error>nama kategori wisata is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <mat-label>Keterangan Kategori Wisata</mat-label>
        <input matInput type="text" required
        formControlName="kategoriKET" />
        <mat-hint>Input keterangan kategori wisata</mat-hint>
        <mat-error>keterangan kategori wisata is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <mat-label>Referensi Kategori Wisata</mat-label>
        <input matInput type="text"
        formControlName="kategoriREFERENCE" />
        <mat-hint>Input referensi kategori wisata</mat-hint>
        <mat-error>referensi kategori wisata is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="buttons full-width">
      <button mat-button mat-raised-button mat-dialog-close>Close</button>
      <button mat-button mat-raised-button type="reset" >Reset</button>
      <button mat-button mat-raised-button [disabled]="kategoriWisataForm.invalid">Submit</button>
      <mat-spinner [diameter]="20" *ngIf="loading" ></mat-spinner>
    </div>
  </div>
</form>
