.form-modal{
  position: relative;
}

.indicator{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  position: fixed;
  bottom: 2rem;
  right: 6%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2.5rem;
  z-index: 20;
}

.indicator-text{
  font-size: 1.2rem;
  color: var(--color-grey-dark);
}
